<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: thymehead"></th:block>
    <title>Add a movie</title>
</head>
<body>
<th:block th:replace="base :: thymenav"></th:block>

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Add a new movie</h1>
            <hr/>
            

        </div>
    </div>
</header>


<th:block th:replace="base :: thymejs"/>
</body>
</html>